* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root {
    --black: #000;
    --white: #FFF;
    --gray:#CCC;
    --GrayLight: #F7F7F7;
    --menu: #B28756;
    --teste: #F00;
    --fundo_preto_opacidade: rgba(0, 0, 0, 0.8);
}

header {
    height: 100px;
    background-color: var(--black);
    color: var(--white);
    font-size: 13px;
}

.header {
    max-width: 1100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;

}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: var(--menu);
    border-radius: 40px;
}

.menu-opener{
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--black);
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid var(--menu);
}

.button {
    display: inline-block;
    background-color: var(--menu);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    width: 220px;
    text-align: center;
    padding: 15px 10px;
    margin-top: 40px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover{
    background-color:#b17a3a;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
    overflow-y: hidden;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: var(--fundo_preto_opacidade);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.banner h1 span {
    color: var(--menu);
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1.4em;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: var(--menu);
}

.default{
    padding: 50px 0;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: var(--gray);
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.default.light{
    background-color: var(--GrayLight);
}

.default.light .section-title,
.default.light .section-body{
    color: var(--black);
}

.default.dark{
    background-color: var(--black);
}

.default.dark .section-title,
.default.dark .section-body{
    color: var(--white);
}





/* 
CSS DE AREAS ESPECIFICAS
*/

.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
    padding: 30px;
}

.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right{
    text-align: center;
}

.section-aboutus--right img {
    height: 250px;
    box-shadow: 0px 0px 10px #000;
}

/* SERVICES */

.section-services{
    display: flex;
}

.section-service{
    height: 200px;
    text-align: center;
    padding: 15px;
    border-left: 1px solid #333;
}

.section-service:last-child{
    border-right: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* PROJECTS */

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    padding: 0px 20px;
    margin: 0 40px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--filters li{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid var(--menu);
}
.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 275px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 255px;
    height: 160px;
    overflow-y: hidden;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-projects--photoinfo p{
    width: 190px;
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

/* TEAM */

.bg-team{
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team {
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
}

.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
    overflow-y: hidden;
}

.section-team .slide {
    width: 310px;
    height: 100%;
    min-height: 410px;
    display: inline-block;
    background-color: var(--white);
    margin-right: 30px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--black);
    padding: 50px;
}

.section-team-area .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: var(--menu);
}

.section-team--avatar{
    width: 170px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

.section-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social{
    display: flex;
    margin-top: 40px;
}

.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 15px;
    margin-right: 10px;
}

.section-team--social a:hover{
    background-color: var(--menu);
}

/* REVIEWS */

.section-reviews{
    max-width: 1100px;
    margin: auto;
}

.section-reviews .sliders {
    width: 1000vw;
    height: auto;
}

.section-reviews .slide {
    width: 1100px;
    height: 100%;
    display: inline-block;
    background-color: var(--white);
    margin-right: 30px;
}

.section-reviews .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: var(--black);
    background-color: var(--GrayLight);
}

.section-review-area .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-review-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.section-review-area .pointer.active {
    background-color: var(--menu);
}

.section-review--avatar{
    width: 170px;
    height: auto;
}

.section-review--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

.section-review--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-review--social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.section-review--social img{
    width: 27px;
}

.section-review--social p{
    margin-top: 15px;
    text-align: center;
    color: #555;
}

/* PATREON */

.patreon{  
    width: 100%;
    background-color: #fff;
}

.patreon .empress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    box-shadow: 0px 0px 2px #000;
}

.patreon img{
    margin: 40px;
}

/* PRICES */
.bg-prices{
    background-color: #EDEDED;
}
.section-prices {
    max-width: 1100px;
    margin: auto;
}

.section-prices .sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-prices .slide {
    width: 235px;
    height: 100%;
    display: inline-block;
    background-color: var(--white);
    margin: 10px 20px;
}

.section-prices .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--black);
    padding: 20px;
}

.section-prices--title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.section-prices--price{
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
}

.section-prices--date{
    font-size: 10px;
    text-transform: uppercase;
    color: #7E7E7E;
}

.section-prices--benefits{
    margin-top: 15px;
    font-size: 12px;
    color: #7E7E7E;
}

.section-prices--benefits ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-prices--benefits ul li{
    padding: 4px;
}

.section-prices--benefits ul div{
    width: 10px;
    border-bottom: 1px solid #7E7E7E;
}

.section-prices .slidearea .button{
    width: 150px;
    margin-top: 20px;
    padding: 12px 30px;
}


/* INFOPRICES */

.section-infoprices{
    max-width: 1000px;
    margin: auto;
}

.section-infoprices .sliders {
    width: 1000vw;
    height: 100%;
}

.section-infoprices .slide {
    width: 1000px;
    height: 100%;
    min-height: 410px;
    display: inline-block;
    background-color: var(--white);
    margin-right: 30px;
}

.section-infoprices .slidearea {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: var(--black);
    padding-bottom: 50px;
    border-bottom: 1px solid #CCC;
}

.section-infoprices-area .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-infoprices-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.section-infoprices-area .pointer.active {
    background-color: var(--menu);
}

.section-infoprice--book{
    width: 320px;
}

.section-infoprice--info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-infoprice--info .info{
    display: flex;
    align-items: flex-start;
    width: 400px;
    margin-bottom: 30px;
}

.section-infoprice--info .info .list{
    width: 100%;
    margin-left: 20px;
}

.section-infoprice--info .info .list h3{
    text-transform: uppercase;
}

.section-infoprice--info .info .list p{
    font-size: 13px;
    margin: 6px;
    color: #999;
}

/* FACTS */

.section-facts{
    display: flex;
}

.section-fact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    border-left: 1px solid #333;
}

.section-fact:last-child{
    border-right: 1px solid #333;
}

.section-fact h1{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--menu);
}
.section-fact .risco{
    background-color: #555;
    width: 20px;
    height: 5px;
}

.section-fact h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    height: 40px;
}

.section-fact p{
    margin-top: 10px;
    font-size: 11px;
    text-align: justify;
    color: #999;
}

/* TELL */

.section-tell{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: #999;
}
.section-tell--p1{
    display: flex;
    align-items: center;
}

.section-tell--p1 img{
    margin-right: 15px;
}

.section-tell--p1 p{
    font-size: 14px;
    font-weight: 600;
}

.section-tell .tell{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.tell a{
    display: flex;
    align-items: center;
    margin: 10px;
    color: #7E7E7E;
}

.tell div{
    width: 35px;
    height: 35px;
    margin: 10px;
}

.tell a p{
    font-size: 11px;
}

.tell .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.tell .twitter {
    background-color: #34c6ef;
}
.tell .linkedin {
    background-color: #127db3;
}
.tell .facebook {
    background-color: #336296;

}

.tell .googleplus {
    background-color: #e84138;
}
.tell .pinterest {
    background-color: #b61b29;
}

/* CONTACT */
.section-contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:450px;
}

.login{
    display: flex;
    width: 100%;
}

.section-contact input::placeholder,
.section-contact textarea::placeholder{
    text-transform: uppercase;
}

.section-contact input {
    width: 100%;
    padding: 20px;
    margin: 10px 0px;
}

.section-contact input:first-child{
    margin-right: 20px;
}

.section-contact input[type=text],
.section-contact input[type=email],
.section-contact textarea {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    resize: none;
    display:block;
    outline:0;
    background:transparent;
    border:0;
    border-bottom:2px solid #CCC;
}

.section-contact .button{
    width: 200px;
    padding: 12px 40px;
    margin-top: 40px;
}

/* MAP */

.section-map{
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.section-map--area{
    width: 100vw;
    max-width: 1100px;
    margin: auto;
}

.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: #FFF;
}

.section-map--info-item{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
    font-size: 12px;
}

.section-map--info-item-img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 15px;
    background-color: #999;
    border-radius: 15px;
}

.section-map--info-item-img img{
    width: 15px;
    height: auto;
}

/* FOOTER */

footer{
    background-color: var(--black);
    color: #999;
    display: flex;
    justify-content: center;
}

.footer--area {
    display: flex;
    flex-direction: column;
    width: 1100px;  
}

.footer--item{
    display: flex;
    height: 250px;
    margin-top: 50px;
}

.area1,
.area2,
.area3{
    width: 350px;
    height: 250px;
    padding: 0 20px;
}

.footer-social{
    display: flex;
}
.footer-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #333;
    border-radius: 20px;
    margin-right: 15px;
}

.footer-social a:hover{
    background-color: var(--menu);
}

.area2{
    font-size: 12px;
    text-align: left;
}

.area3{
    width: 400px;
}

.area3 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #333;
    padding: 20px 30px;
}

.area3 form button{
    width: 300px;
    margin-top: 20px;
}

.area3 form input{
    display:block;
    width: 100%;
    padding: 20px;
    margin-top:10px;
    outline:0;
    color: #FFF;
    background-color: #333;
    background:transparent;
    border:none;
    border-bottom:2px solid #CCC;
}


.area3 form input::placeholder {
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.copyright{
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -40px;
    color: #FFF;
}


/*----------TABLET----------*/
@media (min-width:450px) and (max-width:800px){ 
    .logo{
        margin-left: 30px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.95);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 25px;
        margin-left: 50px;
        border: 0;
    }

    .menu li a:hover,
    .menu li.active a{
        border: 0;
        color: var(--menu);
    }

    /* ABOUTUS */
    .section-aboutus{
        flex-direction: column;
        margin: 0 30px 30px 30px;
    }

    .section-aboutus--left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* SERVICES */
    .section-services {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .section-service{
        min-width: 50%;
        border-right: 1px solid #333;
        margin-bottom: 20px;
    }

    /* TEAM */

    .section-team{
        max-width: 650px;
    }

    /* REVIEWS */
    .section-reviews{
        width: 650px;
    }

    .section-reviews .slide{
        width: 650px;
    }

    /* PRICES */

    .section-prices .slide{
        width: 260px;
        margin: 11px;
    }

    /* INFOPRICES */

    .section-infoprices{
        width: 650px;
    }

    .section-infoprices .slide{
        width: 650px;
    }

    .section-infoprice--info{
        width: 350px;
    }
    
    .section-infoprice--info .info{
        width: 350px;
    }
    

    .section-infoprice--book{
        width: 300px;
    }

    /* FACTS */

    .section-facts{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

    .section-fact{
        max-width: 50%;
        margin-bottom: 20px;
    }

    /* FOOTER */

    .area1,
    .area2,
    .area3{
    width: 250px;
    height: 200px;
    padding: 0 10px;
    }

    .footer-social a{
        margin-right: 11px;
    }

    .area3 form .button{
        width: 170px;
        padding: 12px 10px;
    }
  
    .copyright{
        margin-left: 20px;
    }
}


/*----------MOBILE----------*/
@media (max-width:450px){ 
    .logo{
        margin-left: 30px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }

    .menu li a:hover,
    .menu li.active a{
        border: 0;
        color: var(--menu);
    }

    .banner h1{
        font-size: 30px;
    }

    .banner h2{
        font-size: 17px;
    }

    .button{
        width: 170px;
        padding: 12px 10px;
    }

    .default .section-desc{
        margin-bottom: 20px;
    }


    /* ABOUTUS */
    .section-aboutus{
        flex-direction: column;
        margin: 0 30px 30px 30px;
    }
   
    .section-aboutus--right img{
        width: 100%;
    }

    .section-aboutus--left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* SERVICES */
    .section-services {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .section-service{
        min-width: 100%;
        border:none;
        margin-bottom: 20px;
    }

    .section-service:last-child{
        border:none;
    }

    /* PROJECTS */

    .section-projects--photo{
        width: 320px;
    }

    .section-projects--photoarea{
        width: 300px;
        height: 185px;
    }

    .section-projects--filters li{
        padding: 8px;
    }

    /* TEAM */

    .section-team{
        max-width: 310px;
    }

    /* REVIEWS */
    .section-reviews{
        width: 360px;
    }

    .section-reviews .slide{
        width: 360px;

    }

    /* PATREON */
    .patreon .empress{
        flex-wrap: wrap;
    }

    .patreon img{
        margin: 10px;
    }

    /* PRICES */

    .section-prices .slide{
        width: 260px;
        margin: 11px;
    }

    /* INFOPRICES */

    .section-infoprices .slidearea{
        flex-direction: column;
        padding-bottom: 0;
    }

    .section-infoprices{
        width: 350px;
    }

    .section-infoprices .slide{
        width: 350px;
    }

    .section-infoprice--info{
        width: 300px;
    }
    
    .section-infoprice--info .info{
        width: 300px;
    }
    
    .section-infoprice--book{
        width: 300px;
        margin: 30px 0;
    }

    /* FACTS */

    .section-facts{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

    .section-fact{
        border: none;
    }

    /* TELL */

    .section-tell{
    flex-direction: column;
    align-items: center;
    }

    .section-tell .tell{
        margin: 0;
    }

    .tell div {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .tell a {
        flex-direction: column;
    }

    /* CONTACT */

    .login {
        display: block;
    }

    .section-contact form{
        width: 320px;
    }

    /* MAP */

    .section-map--info {
        width: 70%;
        padding: 20px;
    }

    /* FOOTER */

    .area1,
    .area2,
    .area3{
        width: 350px;
        height: auto;
        margin: 20px 0;
    }

    .footer--area{
        width: auto;
        height: 60vh;
    }

    .footer--item {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        height:55vh;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-social a{
        margin-right: 11px;
    }

    .area1,
    .area2{
        order: 1;
    }

    .area3 form{
        height: 150px;
    }

    .area3 form .button{
        width: 170px;
        height: 200px;
        padding: 12px 10px;
    }
  
    .copyright{
        position: initial;
        text-align: center;
    }
}