* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root {
    --black: #000;
    --white: #fff;
    --gray:#ccc;
    --GrayLight: #F7F7F7;
    --menu: #B28756;
    --teste: #f00;
    --fundo_preto_opacidade: rgba(0, 0, 0, 0.8);
}

header {
    height: 100px;
    background-color: var(--black);
    color: var(--white);
    font-size: 13px;
}

.header {
    max-width: 1100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;

}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: var(--menu);
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--black);
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid var(--menu);
}

.button {
    display: inline-block;
    background-color: var(--menu);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
    overflow-y: hidden;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: var(--fundo_preto_opacidade);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.banner h1 span {
    color: var(--menu);
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1.4em;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: var(--menu);
}

.default{
    padding: 50px 0;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: var(--gray);
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.default.light{
    background-color: var(--GrayLight);
}

.default.light .section-title,
.default.light .section-body{
    color: var(--black);
}

.default.dark{
    background-color: var(--black);
}

.default.dark .section-title,
.default.dark .section-body{
    color: var(--white);
}





/* 
CSS DE AREAS ESPECIFICAS
*/

.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
    padding-right: 20px;
}

.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right{
    margin-left: 10px;
    text-align: center;
}

.section-aboutus--right img {
    height: 250px;
    box-shadow: 0px 0px 10px #000;
}

/* SERVICES */

.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    padding: 15px;
    border-left: 1px solid #333;
}

.section-service:last-child{
    border-right: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* PROJECTS */

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters ul{
    display: flex;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid var(--menu);
}
.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 270px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 250px;
    height: 165px;
    overflow-y: hidden;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-projects--photoinfo p{
    width: 190px;
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

/* TEAM */

.bg-team{
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}
.section-team {
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
}

.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
    overflow-y: hidden;
}

.section-team .slide {
    width: 310px;
    height: 100%;
    min-height: 410px;
    display: inline-block;
    background-color: var(--white);
    margin-right: 30px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--black);
    padding: 50px;
}

.section-team-area .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: var(--menu);
}

.section-team--avatar{
    width: 170px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

.section-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social{
    display: flex;
    margin-top: 40px;
}

.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 15px;
    margin-right: 10px;
}

.section-team--social a:hover{
    background-color: var(--menu);
}

/* REVIEWS */

.section-reviews{
    max-width: 1000px;
    margin: auto;
}

.section-reviews .sliders {
    width: 1000vw;
    height: 100%;
}

.section-reviews .slide {
    width: 1000px;
    height: 100%;
    min-height: 410px;
    display: inline-block;
    background-color: var(--white);
    margin-right: 30px;
}

.section-reviews .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--black);
    background-color: var(--GrayLight);
}

.section-review-area .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-review-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.section-review-area .pointer.active {
    background-color: var(--menu);
}

.section-review--avatar{
    width: 170px;
    height: auto;
}

.section-review--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

.section-review--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-review--social{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.section-review--social img{
    width: 27px;
}

.section-review--social p{
    margin-top: 15px;
    text-align: center;
    color: #555;
}

/* PATREON */

.patreon{  
    height: 171px;
    background-color: #fff;
}

.patreon .empress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 2px #000;
}

.patreon img{
    margin: 40px;
    width: 100px;
}

/* PRICES */
.bg-prices{
    background-color: #EDEDED;
}
.section-prices {
    max-width: 1000px;
    margin: auto;
}

.section-prices .sliders {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-prices .slide {
    width: 270px;
    min-height: 310px;
    height: 100%;
    display: inline-block;
    background-color: var(--white);
    margin: 20px;
}

.section-prices .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--black);
    padding: 10px;
}

.section-prices--title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.section-prices--price{
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
}

.section-prices--date{
    font-size: 10px;
    text-transform: uppercase;
    color: #7E7E7E;
}

.section-prices--benefits{
    margin-top: 15px;
    font-size: 12px;
    color: #7E7E7E;
}

.section-prices--benefits ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-prices--benefits ul li{
    padding: 4px;
}

.section-prices--benefits ul div{
    width: 10px;
    border-bottom: 1px solid #7E7E7E;
}

.section-prices .slidearea .button{
    margin-top: 20px;
    padding: 12px 30px;
}


/* INFOPRICES */

.section-infoprices{
    max-width: 1000px;
    margin: auto;
}

.section-infoprices .sliders {
    width: 1000vw;
    height: 100%;
}

.section-infoprices .slide {
    width: 1000px;
    height: 100%;
    min-height: 410px;
    display: inline-block;
    background-color: var(--white);
    margin-right: 30px;
}

.section-infoprices .slidearea {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: var(--black);
    padding-bottom: 50px;
    border-bottom: 1px solid #CCC;
}

.section-infoprices-area .sliders-pointers {
    margin-top: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-infoprices-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--menu);
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
}

.section-infoprices-area .pointer.active {
    background-color: var(--menu);
}

.section-infoprice--book{
    width: 320px;
}

.section-infoprice--info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-infoprice--info .info{
    display: flex;
    align-items: flex-start;
    width: 400px;
    margin-bottom: 30px;
}

.section-infoprice--info .info .list{
    width: 400px;
    margin-left: 20px;
}

.section-infoprice--info .info .list h3{
    text-transform: uppercase;
}

.section-infoprice--info .info .list p{
    font-size: 13px;
    margin: 6px;
    color: #999;
}

/* FACTS */

.section-facts{
    display: flex;
}

.section-fact{
    flex: 1;
    text-align: center;
    padding: 20px;
}

.section-fact h1{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--menu);
}
.section-fact .risco{
    background-color: #555;
    width: 20px;
    height: 5px;
    margin: auto;
}

.section-fact h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
    height: 40px;
}

.section-fact p{
    margin-top: 10px;
    font-size: 11px;
    width: 190px;
    text-align: justify;
    color: #999;
}

/* TELL */

.section-tell{
    display: flex;
    justify-content: center;
    color: #999;
}
.section-tell--p1{
    display: flex;
    align-items: center;
}

.section-tell--p1 img{
    margin-right: 15px;
}

.section-tell--p1 p{
    font-size: 14px;
    font-weight: 600;
}

.section-tell .tell{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.tell a{
    display: flex;
    align-items: center;
    margin: 10px;
    color: #7E7E7E;
}

.tell div{
    width: 35px;
    height: 35px;
    margin: 10px;
}

.tell a p{
    font-size: 11px;
}

.tell .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.tell .twitter {
    background-color: #34c6ef;
}
.tell .linkedin {
    background-color: #127db3;
}
.tell .facebook {
    background-color: #336296;

}

.tell .googleplus {
    background-color: #e84138;
}
.tell .pinterest {
    background-color: #b61b29;
}

/* CONTACT */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    display: flex;
}

input::placeholder,
textarea::placeholder{
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 20px;
    margin: 10px 0px;
    margin-left: 20px;
}

input,
textarea {
    width: 100%;
    padding: 20px;
    margin: 20px 10px;
    background-color: #F7F7F7;
    border: none;
    border-bottom: 2px solid #ccc;
    resize: none;
}

form .button{
    width: 200px;
    cursor: pointer;
}

